<!-- 组合小车底盘与摄像头 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="gazebo_head.xacro" />
    <xacro:include filename="gazebo_mycar.xacro" />
    <!-- cam仿真的 xacro 文件 -->
    <xacro:include filename="gazebo_mycar_cam.xacro" />
    <!-- 雷达仿真的 xacro 文件 -->
    <xacro:include filename="gazebo_mycar_lidar.xacro" />
    <xacro:include filename="gazebo_mycar_move.xacro" />
    
</robot>
